.badge, .btn {
  background-color: #008cff9f;
  backdrop-filter: blur(10px);
}

.modif{
  margin-left: 40%;
  margin-bottom: 3%;
}
#regarder{
  background-color: rgb(105, 59, 230);
}


#regarder:hover{
  background-color: rgb(30, 49, 223);
   }

/*
.container {
  height: auto;
}
*/
#regarder:hover{
background-color: chocolate;
}
