<!-- Formulaire -->
<form [formGroup]="form" (ngSubmit)="submit()">

    <!-- <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Profile picture</label>
    <input type="file" id="form2Example11" class="form-control form-control-sm" (change)="handleImageInput($event)"
      placeholder="Photo de profil" formControlName="photo" accept="image/png, image/jpeg, image/jpg "/>
  </div> -->

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Company name</label>
    <input type="text" id="form2Example11" class="form-control form-control-sm"
      placeholder="Nom de l'entreprise" formControlName="nom"/>
  </div>

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Contribute Number</label>
    <input type="text" id="form2Example11" class="form-control form-control-sm"
      placeholder="Numero de contribuable" formControlName="contributeNumber"/>
  </div>

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Localisation</label>
    <input type="text" id="form2Example11" class="form-control form-control-sm"
      placeholder="Addres" formControlName="location"/>
  </div>

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Creation date</label>
    <input type="date" id="form2Example11" class="form-control form-control-sm"
      placeholder="Date de creation" formControlName="creationDate"/>
  </div>

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Mail</label>
    <input type="email" id="form2Example11" class="form-control form-control-sm"
      placeholder="Adresse mail" formControlName="mail"/>
  </div>

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example11">Phone</label>
    <input type="tel" id="form2Example11" class="form-control form-control-sm"
      placeholder="Telephone" formControlName="numTel"/>
  </div>

  <!--Zone de saisie du mot de passe avec affichage et masquage-->
  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example22">Password</label>
    <div class="input-group">
      <input [type]="isPasswordVisible ? 'texte' : 'password'" id="form2Example22" class="form-control form-control-sm" placeholder="*************" formControlName="password">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary btn-sm" type="button" (click)="togglePasswordVisibility()">
          <i [ngClass]="isPasswordVisible ? 'fa-eye-slash' : 'fa-eye'" class="fa"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="form-outline mb-3 small">
      <label class="form-label small" for="form2Example22">Confirm your password</label>
    <div class="input-group">
    <input [type]="isPasswordVisible ? 'texte' : 'password'" id="form2Example22" class="form-control form-control-sm" placeholder="*************" formControlName="confirmPassword">

    </div>
  </div>

  <!--Acceptation/non de la politique de confidentialite-->
  <div class="form-check d-flex justify-content-center mb-5">
    <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3c" formControlName="conditionsInscription"/>
    <label class="form-check-label" for="form2Example3">
      I agree all statements in <a href="#!">Terms of service</a>
    </label>
  </div>

  <div class="d-flex justify-content-center mx-4 mb-2 mb-lg-3">
    <button [disabled]="form.invalid" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none" type="submit">Register</button>
  </div>
</form>

