<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row justify-content-center align-items-center h-100">
      <div class="col col-xl-100">
        <div class="card" style="border-radius: 1rem;">
          <div class="d-flex align-items-center justify-content-center mb-3 pb-1" id="logo">
            <span class="h1 fw-bold mt-4 mb-4"><img id="image" src="/assets/images/uyy.png" style="width: 200px; height: 200px;"></span>
          </div>
          <div class="row g-0">
            <div class="">
              <div>
                <div class="row g-0 justify-content-end">
                  <p class="text-center my-auto">
                    <strong>
                         LISTE DES ENSEIGNANTS PERMANENTS / LIST OF PERMENENT TEACHING STAFF
                    </strong>
                   </p>
                </div>
                <p style="text-align: center;">
                       <strong>
                          Année Academique 2022/2023
                       </strong>
                </p>
                    <p style="text-align: center;">
                      (Par Département et par Grade)
                    </p>
                    <p style="text-align: center;">
                      DATE D’ACTUALISATION : Octobre 2017
                    </p>
                    <p>&nbsp;</p>
                    <div class="ms-3">
                      <p>
                        <strong>
                          <u>ADMINISTRATION</u>
                        </strong>
                      </p>
                      <p>
                        <strong>
                                   DOYEN :
                        </strong>
                        "AWONO ONANA,"
                        <strong>Professeur</strong>
                      </p>
                      <p>
                        <strong>
                                   VICE-DOYEN / DPSAA :
                        </strong>
                         " DONGO Etienne, ,"
                        <strong>Professeur</strong>
                      </p>
                       <p>
                        <strong>
                                   VICE-DOYEN / DPSAA :
                        </strong>
                         " OBEN Julius ENYONG,"
                        <strong>Professeur</strong>
                      </p>
                       <p>
                        <strong>
                                   VICE-DOYEN / DRC :
                        </strong>
                         " MBAZE MEVA’A Luc, "
                        <strong>Maître de Conférences</strong>
                      </p>
                      <p>
                        <strong>
                                   Chef Division Affaires Académiques, Scolarité et Recherche :
                        </strong>
                         " ABOSSOLO Monique,"
                        <strong>Chargée de cours</strong>
                      </p>
                      <p>
                        <strong>
                                Chef Division Administrative et Financière :
                        </strong>
                         " NDOYE FOE Marie C. F"
                        <strong>Maître de Conférences</strong>
                      </p>
                    </div>
                    <p>&nbsp;</p>
                    <div  class="datatable">
    <table>
    <thead>
      <tr>
        <th class="th-sm"><strong>Noms et Prénoms</strong></th>
        <th class="th-sm"><strong>Grade</strong></th>
        <th class="th-sm"><strong>	Observations</strong></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>TCHUENTE Maurice</td>
        <td>ProfesseurSystem Architect</td>
        <td>PCA / UYIIEdinburgh</td>
      </tr>
      <tr>
        <td>	FOTSO Pauline Laure</td>
        <td>	Professeur</td>
        <td>Député à l’Assemblée Nationale</td>
      </tr>
      <tr>
        <td>FOUDA NDJODO Marcel</td>
        <td>Professeur</td>
        <td>IGA-MINESUP/Chef Dpt ENS</td>
      </tr>
      <tr>
        <td>Cedric Kelly</td>
        <td>Senior Javascript Developer</td>
        <td>Edinburgh</td>
      </tr>
      <tr>
        <td>ATSA ETOUNDI Roger</td>
        <td>	Professeur</td>
        <td> <strong>Chef de Département</strong>
              Chef Division MINESUP
        </td>
      </tr>
      <tr>
        <td>	NDOUNDAM René</td>
        <td>Maître de Conférences</td>
        <td>En poste</td>
      </tr>
    </tbody>
  </table>

  <div class="page-header ms-4">
    Les enseignements d’Informatique ont démarré à la Faculté des Sciences de l’Université de Yaoundé en 1978. A la faveur de la convention tripartite signée entre l’Université des Nations Unies (UNU), l’Institut National de Recherche en Informatique et Automatique (INRIA) et l’Université de Yaoundé I en 1985, la Maîtrise a démarré, suivie l’année d’après par le cycle de Doctorat.
  </div>
</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
