.form-control{
  margin-left: 30px;
}

.modif{
  margin-left: 45%;
  margin-bottom: 0%;
}
.search{
font-size: 22px;
}
#profilpic{
  // margin-top: 2%;
 background-color: #e65045;
 margin-top: -19px;
 margin-bottom: 0px;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}
.card-body{
margin-left: 95px;
}

#elements {
  background-color: #75c6eb59;
}

