
<section class="h-100 gradient-form" style="background-color: #f5f5f5;">
  <div class="container-md h-40">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-8">
        <div class="card rounded-5 text-black my-5">
              <div class="card-body p-md-5 mx-md-4">
                <!--Insertion du titre du formulaire-->
                <div class="text-center mb-5">
                  <h2 class="pb-1">Nouvelle publication</h2>
                </div>

                <!--Formulaire-->
                <form [formGroup]="form" (ngSubmit)="submit()">
                  <div class="d-flex align-items mb-4 small">
                    <label class="form-label me-3 mt-1" for="image">Insere une image:</label>
                    <input type="file" id="image" name="avatar" accept="image/png, image/jpeg">
                  </div>

                  <div class="form-outline mb-4">
                    <input type="text" id="title" class="form-control form-control-sm"
                      placeholder="titre de la publication" formControlName="titre"/>
                  </div>

                  <div class="form-outline mb-4">
                    <textarea class="form-control" rows="2" id="description" name="text"></textarea>
                  </div>

                  <!-- Boutons Creer et annuler -->
                  <div class="modal-footer mb-3">
                    <button [disabled]="form.invalid" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none me-4 fs-5" type="submit" data-dismiss="modal">Creer</button>
                    <button type="submit" class="btn btn-primary btn-block fa-lg gradient-custom-2 border border-color-none me-4 fs-5">Annuler</button>
                  </div>

                </form>
              </div>
       </div>
      </div>
    </div>
  </div>
</section>
