<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> -->
<div class="container">
  <!-- Section: Design Block -->
<section class="text-center text-lg-start">
  <style>
    .cascading-right {
      margin-right: -50px;
    }

    @media (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
  </style>
  <h2 id="titre" style="text-align: center;">Nos formations</h2>
<div class="row row-cols-1 row-cols-md-2 g-4" style="box-shadow: 4px 5px 15px black ; border-radius:20px">
    <!-- Jumbotron -->
    <div class="col">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">Cycle Licence</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/photoProfil.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">Cycle Master</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/fond-header4.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
    <div class="col" id="doctorat">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">Cycle Doctorat</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/stage2.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <!-- Jumbotron -->
  </div>
  <h2 id="titre" style="text-align: center; margin-top: 60px;">Formations professionnelle</h2>
<div class="row row-cols-1 row-cols-md-2 g-4" style="box-shadow: 4px 5px 15px black ; border-radius:20px">
    <!-- Jumbotron -->
    <div class="col">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">ICT Licence1</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/dev.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  <div class="col">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">ICT L2</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/img5.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
    <div class="col">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">ICT L3</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/hacking.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
      <div class="col">
    <div class="card.hidden-cardcard">
  <div class="card-body">
    <div class="container py-4">
    <div class="row g-0 align-items-center">
      <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
          <div class="card-body p-5 shadow-5 text-center" id="cadre">
            <h5 class="card-title">ICT Master professionnelle nouvelle ouverture</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0">
        <img src="/assets/images/stage1.jpg" style="box-shadow: 4px 5px 15px black ;" class="w-100 rounded-4 shadow-4"
          alt="" />
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
</section>
</div>



