
<div class="footer fixed-bottom">

     <div class="partie1-footer">

        <div class="footer-logo-dept">
             <img src="./assets/uyy.png" alt="Logo du département">
             <span id="logo_name"> Computer Sciences <br> Departement </span>
        </div>
        <div class="footer-links">
             <h5>Links</h5>
             <ul>
                <li><a href="#">Accueil</a></li>
                <li><a href="#">Annuaires</a></li>
                <ul>
                <li><a href="#">Enseignants</a></li>
                <li><a href="#">Entreprises</a></li>
                <li><a href="#">Etudiants</a></li>
                </ul>
                <li><a href="#">A propos du département</a></li>
                <li><a href="#">Offres</a></li>
                <li><a href="#">Nos évenements</a></li>
             </ul>
        </div>
        <div class="footer-partners">
             <h5>Partners</h5>
             <ul>
                <li> partner1@gmail.com </li>
                <li> partner1@gmai2.com </li>
                <li> partner1@gmai3.com </li>
             </ul>
        </div>
        <div class="footer-contacts">
             <h5>Contacts</h5>
             <ul>
                <li> deptinfo@facsciences.cm </li>
                <li> +237 222 34 57 34 </li>
                <li> +237 634 45 34 90 </li>
                <li> +237 673 49 20 34 </li>
             </ul>

             <div class="footer-reseaux">
             <h5>Nos Réseaux Sociaux</h5>
             <ul style="display: flex;">
                   <li><a href="#"><img src="./assets/facebook-svg.svg" width="52px" height="52px"></a></li>
                   <li><a href="#"><img src="./assets/twitter-svg.svg" width="49px" height="49px"></a></li>
                   <li><a href="#"><img src="./assets/linkedin-svg.svg" width="52px" height="52px"></a></li>
                   <li><a href="#"><img src="./assets/whatsapp-svg.svg" width="52px" height="52px"></a></li>

             </ul>
            </div>
        </div>

     </div>

     <div class="partie2-footer">
          @copyright 2022-2023
     </div>

</div>
